/*Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
    font-family: 'rufus';
    src: url('../../fuentes/FSRufus.otf') format('otf');
    font-display: swap;
}

@font-face{
    font-family: 'rufus-bold';
    src: url('../../fuentes/FSRufus-Bold.otf') format('otf');
    font-display: swap;
}