/* Segun el tipo de texto qe sea tienen valores distintos*/

$textoPrincipal: (
    colorLetra: #018655,
    size: 21px,
    margenes: 20px auto
);

$textoSecundario: (
    colorLetra: rgb(121, 120, 120),
    size:18px,
    margenes: 10px 17px
);